
body{
    background: #0A8BBF;
}
#compte{
    width:400px;
    margin:0 auto;
    margin-top:1%;
}




#formul {
    width:50    %;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    text-align: center;
}

legend{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    text-align: center;
}

input[type=email], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;


}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #0A8BBF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #0A8BBF;
    border: 1px solid #0A8BBF;
}

a:hover {
  border-bottom: 1px solid;     
  background: #000000;
  color: white;

}

a{
  color: black;
  text-decoration: none;
 
}


#titre{
    text-align: center;
}